.para5{
    margin-top:100px;
}
.ww{
    width: 100%;
}
.mbb{
    margin-top: 50px;
    font-family:  Begum;;
    font-weight: 400;
   font-size: 18px;
   letter-spacing: 2px;
}
.hnn{
    margin-top: 40px;
    color:forestgreen;
    font-family: maths;
    font-size: 32px;
}
.mbt{
    margin-top: 20px;
    font-family:  Begum;;
    font-weight: 400;
   font-size: 18px;
   letter-spacing: 2px;
}
.ggh{
    width: 50%;
    height: 100px;
}
.ffb{
    width: 50%;
    margin-top: 20px;
    height: 100px;
}
.ppj{
    margin-top: -80px;
    margin-left: 120px;
}
.ddk{
    width: 50%;
    margin-top: 20px;
    height: 100px;
}