.mn{
    margin-top: 50px;
  }
  .ii{
            background:#32bfda ;
        }
        .tw{
            color:#014a39;
            border: 1px solid black;
            width: 100%;
            font-family: fantasy;
        }
        .ty :hover{
            background:#32bfda;
            
        }
        .rr{
            font-family: maths;
        }
      